script(src='js/app.js')
script(src='js/controllers/navController.js')
script(src='js/controllers/homeController.js')
script(src='js/controllers/controlController.js')
script(src='js/controllers/titleController.js')
script(src='js/controllers/quizzController.js')
script(src='js/directives/uploader.js')
script(src='js/directives/glyph.js')
script(src='js/directives/eatClick.js')
script(src='js/directives/titleList.js')
script(src='js/directives/titleEdit.js')
script(src='js/directives/quizzList.js')
script(src='js/directives/quizzEdit.js')
script(src='js/directives/soundEditor.js')
script(src='js/directives/soundRange.js')
script(src='js/services/titledata.js')
script(src='js/services/quizzdata.js')
script(src='js/services/sound.js')
script(src='js/services/remote.js')
