script(src='lib/jquery/jquery.js')
script(src='lib/jquery-ui/ui/jquery-ui.js')
script(src='js/third/bootstrap.min.js')
script(src='js/third/angular.min.js')
script(src='lib/jquery.easy-pie-chart/dist/angular.easypiechart.js')
script(src='lib/angular-bootstrap/ui-bootstrap-tpls.js')
script(src='lib/ngUpload/ng-upload.js')
script(src='lib/buzz/dist/buzz.js')
script(src='js/third/linq.js')
script(src='lib/socket.io-client/dist/socket.io.js')
