link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
link(rel='stylesheet', href='lib/jquery-ui/themes/base/jquery-ui.css')
link(rel='stylesheet', href='lib/jquery.easy-pie-chart/jquery.easy-pie-chart.css')
link(rel='stylesheet', href='/stylesheets/style.css')
